---
// =================================
// IMPORTS
// =================================
// Layouts
import BaseLayout from "../layouts/BaseLayout.astro";
// Components
import NavBar from "../components/NavBar.astro";
import RippleEffect from "../components/RippleEffect.astro";
// Database
import { supabase } from "../db/supabase";

// =================================
// CONFIGURATION
// =================================
const pageTitle = "Projects";

// =================================
// DATA COLLECTION
// =================================
// Fetch projects data
const { data: projects } = await supabase
  .from("Projects")
  .select("id, name, start_date, end_date");

// Fetch and sort tags data
let { data: tags } = await supabase
  .from("Project_Tags")
  .select(`Projects(id), Tags(name, type, Tag_Type(id, name))`);

tags = tags?.sort((a, b) => a.Tags.type - b.Tags.type);
---

<BaseLayout pageTitle={pageTitle}>
  <NavBar pageTitle={pageTitle} />
  <header>
    <section class="text-center">
      <h1 class="mb-[16px]">Projects</h1>
      <q class="mb-[16px] block text-xs">Progress not perfection.</q>
      <p>
        Every project tells a story of creativity meeting strategy. Here's a
        collection of work that showcases thoughtful design solutions and
        meaningful results.
      </p>
    </section>
  </header>

  <main>
    {
      projects &&
        projects.map((project: any) => (
          <section class="flex flex-col rounded-[8px] bg-(--color-background) shadow-[0_4px_12px_rgba(0,0,0,0.25)]">
            <div class="flex flex-col gap-[16px] rounded-[8px] bg-[#2D2D2D] p-[16px]">
              <div class="flex flex-row justify-between">
                <h4>{project.name}</h4>
                <RippleEffect />
              </div>
              <ul class="tags">
                {tags &&
                  tags.map(
                    (tag) =>
                      tag.Projects.id == project.id && (
                        <li class={tag.Tags.Tag_Type.name}>{tag.Tags.name}</li>
                      ),
                  )}
              </ul>
            </div>
            {project.start_date && (
              <p class="font-accent text-dim py-[8px] text-center text-xs">
                {project.start_date} - {project.end_date}
              </p>
            )}
            <a href={"projects/" + project.id} />
          </section>
        ))
    }
  </main>
</BaseLayout>

<style>
  /* =================================
     LAYOUT STRUCTURE
     ================================= */

  /* Section Container */
  main section {
    position: relative;
  }

  /* =================================
     INTERACTIVE OVERLAYS
     ================================= */

  /* Full Coverage Overlay */
  main section a::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
</style>
